.header {
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    border-bottom: 1px solid transparent;
    transition: padding .3s ease, border-color .3s ease, background-color .3s ease;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            max-width: 9rem;
            transition: max-width .3s ease;
            @media screen and (min-width: $laptop-breakpoint) {
                max-width: 18rem;
            }
        }
        .main-nav ul {
            display: none;
            @media screen and (min-width: $laptop-breakpoint) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            li {
                margin-left: 1rem;
                a {
                    text-transform: uppercase;
                    letter-spacing: 3.5px;
                    font-weight: 800;
                    font-size: .875rem;
                    transition: color .3s ease;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1.5rem;
                        height: .8rem;
                        background-image: url('../assets/crown.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index:-1;
                        transition: top .3s ease, opacity .3s ease;
                        opacity: 0;
                    }
                    &:hover {
                        &::after {
                            top: -1rem;
                            opacity: 1;
                        }
                    }
                    &.cta {
                        background-color: $black;
                        color: $white;
                        border-radius: 5px;
                        padding: .5rem 1rem;
                    }
                }
            }
        }
    }
    &.shrink {
        padding: 1.25rem 0;
        border-color: $light-grey;
        background-color: white;
        .logo {
            @media screen and (min-width: $laptop-breakpoint) {
                max-width: 12rem;
            }
        }
    }
}