.header {
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 800;
        }
        .main-nav ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                margin-left: 1rem;
                a {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 800;
                    transition: color .3s ease;
                    position: relative;
                    background-color: $white;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 1.5rem;
                        height: .8rem;
                        background-image: url('../assets/crown.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        z-index:-1;
                        transition: top .3s ease;
                    }
                    &:hover {
                        color: $primary-color;
                        &::after {
                            top: -1rem;
                        }
                    }
                }
            }
        }
    }
}