$primary-font : 'Lato', sans-serif;

$font-weight-thin    : 100;
$font-weight-light   : 300;
$font-weight-regular : 400;
$font-weight-bold    : 700;
$font-weight-black   : 900;

$fonts : (
    primary : (
        regular : (
            font-family : $primary-font,
            font-weight : $font-weight-regular
        ),
        thin : (
            font-family : $primary-font,
            font-weight : $font-weight-thin
        ),
        light : (
            font-family : $primary-font,
            font-weight : $font-weight-light
        ),
        bold : (
            font-family : $primary-font,
            font-weight : $font-weight-bold
        ),
        black : (
            font-family : $primary-font,
            font-weight : $font-weight-black
        )
    )
);
